.nav {
  padding: 10px;
  grid-area: n;
  background-color: rgb(63, 63, 63);
}

.item a {
  color: white;
  font-size: 18px;
  transition: .3s;
  text-decoration: none;
}

.item a:visited{
  color: white;
}

.item a.active {
  color:red;
  font-size: 18px;

}

.item{
   padding: 7px 20px;
}

.item:last-child{
  margin-top: 50px;
}